@import 'bourbon';

html.exo-exists{
  // height:100%;
  // width:100%;

  &.exo-created{
    // body{
    //   opacity: 1;
    // }
  }

  // body{
  //   height:100%;
  //   width:100%;
  // }

  #exo-loading{
    background: rgba(#000, .3);
    display:none;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;

    .fa-stack{
      position:absolute;
      right:50%;
      top:50%;
      margin-right:-26px;
      margin-top:-26px;
    }
  }

  // Frame Wrapper
  #exo{
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:0;
    opacity:0;
    z-index:0;
    @include transition(opacity 300ms);

    #exo-main-wrapper{
      position: absolute;
      top: 0;
      left: 0;
      right:0;
      bottom:0;
      padding: 0;
      overflow:hidden;
    }

    #exo-main{
      outline: none;
      display:block;
      width:100%;
      height:100%;
      border:none;
    }
  }

  body.exo-active{
    #exo{
      opacity:1;
    }
  }

  body.exo-top{

    #exo-loading,
    #exo{
      display:block;
      z-index:9999;
    }
  }
}

/**
 * The placeholder for the textarea.
 */
.exo-placeholder{
  // @include sans-condensed();
  display:block;
  background:$exo-bg;
  padding:5px;

  &:hover{
    text-decoration: none;

    span{
      background:$exo-primary;
    }
  }

  span{
    display:block;
    font-size:15px;
    line-height:15px;
    color:#f0f0f0;
    // background:$exo-bg-alt;
    padding:$exo-spacing/2;
    @include transition(background 500ms);
  }
}
