$exo-bg: #2e383e !default;
$exo-bg-alt: darken($exo-bg, 5%) !default;
$exo-spacing: 20px !default;

$exo-primary: #0997c3 !default;

@if variable-exists(boushh-bg) {
  $exo-bg: $boushh-bg;
}
@if variable-exists(boushh-bg-alt) {
  $exo-bg-alt: $boushh-bg-alt;
}
@if variable-exists(boushh-primary) {
  $exo-primary: $boushh-primary;
}
@if variable-exists(boushh-spacing) {
  $exo-spacing: $boushh-spacing;
}
