@import "compass/css3/transform";

#exo-frame{

  #exo-pane-wrapper{
    display:none;
  }

  .exo-pane-active{

    @include perspective(1500px);

    #exo-instance-wrapper{
      @include transition(transform 0.5s);
      @include transform-style(preserve-3d);
      @include transform-origin(100%, 50%);
    }

    #exo-instance-wrapper::after{
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      background: rgba(0,0,0,0.2);
      content: '';
      opacity: 0;
      -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
      transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
      z-index: 1002;
    }

    #exo-pane-wrapper{
      height:100%;
      width:100%;
      display:block;
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      overflow: hidden;
      @include perspective(1500px);
      z-index:2000;

      #exo-pane{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        visibility: hidden;
        width: 500px;
        height: 100%;
        background: #ffffff;
        overflow-y: auto;
        @include transition(all 0.5s);
        @include opacity(1);
        @include translate3d(-100%, 0, 0);
      }
    }

    &.exo-pane-open{

      #exo-instance-wrapper{
        @include transform(rotateY(-10deg));
        // @include transform(translate3d(0, 0, -300px));
        // @include transform(rotate3d(0, 0,-300px,-10deg));
      }

      #exo-instance-wrapper::after{
        width: 100%;
        height: 100%;
        opacity: 1;
        @include transition(opacity 0.5s);
      }

      #exo-pane-wrapper{

        #exo-pane{
          visibility: visible;
          @include transition(transform 0.5s);
          @include transform(translate3d(0, 0, 0));
        }

      }
    }

    #exo-pane-inner{
      padding:20px;

      #exo-pane-title{
        font-size:30px;
        border-bottom:1px solid #f0f0f0;
        padding-bottom:20px;
        margin-bottom:10px;
        letter-spacing:-.5px;
      }

      // Inline entity form
      .field-widget-inline-entity-form{
        padding-bottom:20px;

        table img{
          height:34px !important;
          width:auto !important;
        }

        table img.file-icon{
          width:16px !important;
          height:16px !important;
        }

        a.tabledrag-toggle-weight{
          display:none;
        }

        a.tabledrag-handle .handle{
          width:30px;
          height:30px;
        }

        .ief-form{
          position:absolute;
          top:0;
          left:0;
          bottom:0;
          right:0;
          overflow:auto;
          background:#ffffff;
          padding:20px;
          z-index:10;

          legend{
            padding-top:20px;
            margin-bottom:0;
          }
        }
      }

      .asset-inline-entity-browser .fieldset-wrapper{
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        overflow:auto;

        // .asset-browser .view-content{
        //   position:absolute;
        //   top:200px;
        //   bottom:200px;
        //   left:0;
        //   right:0;
        // }

        .asset-browser{
          padding-bottom:60px;
        }

        .form-wrapper{
          position:fixed;
          bottom:5px;
          left:5px;
          width:490px;
          background:#292929;
          padding:10px;
        }

        .view-filters{
          width:auto;
        }

        .pager li > a,
        .pager li > span{
          padding:0 9px;
          border:none;
          background:#292929;
          line-height:1.5em;
          @include border-radius(0);
          font-size: .9em;
        }

        legend{
          display:none;
        }
      }

      // Imagefield focus overrides
      .imagefield-focus.focus-box{
      }

      .imagefield-focus-finish .form-submit{
        display: block;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }

      // .imagefield-focus-finish{
      //   margin:0;
      //   top:0;
      //   left:0;
      //   padding:5px;
      //   width:100%;
      //   text-align:center;
      // }
    }
  }
}
