#exo-frame{

  .exo-toolbar{
    position:fixed;
    left:20px;
    right:20px;
    top:0;
    z-index:1001;
    display:block !important;
    border-bottom:1px solid #dcdcdc;
    background:#f2f6f7;

    .ui-buttonset{
      margin-right:0;
      float:left;
      border-left:1px solid #dcdcdc;

      &:first-child,{
        border:none;
      }

      &.halloreundo{
        float:right;
        margin-left:3px;
        margin-right:0;
        border:none;
      }
    }

    .ui-button-text{
      @include sans-condensed();
    }

    .ui-button{
      background:none;
      border:none;
      width:34px;
      height:34px;
      color:#6c6c6c;
      font-size:14px;
      font-weight:normal;
      @include transition-property(background,color);
      @include transition-duration(.3s);

      &:hover{
        color:#b64f43;
        cursor:pointer;
      }

      &.ui-state-active{
        color:#437bc7;
        background:#e5e5e5;
      }
    }

  }

}
